---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import PostPreview from '../components/PostPreview.astro';
import ThemeController from '../components/ThemeController.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { ClientRouter } from 'astro:transitions';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main>
      <section>
        {
          posts.map((post) => (
            <PostPreview
              url={`/blog/${post.id}/`}
              title={post.data.title}
              description={post.data.description}
              pubDate={post.data.pubDate}
            />
          ))
        }
      </section>
    </main>
    <Footer />
    <ThemeController />
  </body>
</html>
