---
import FormattedDate from './FormattedDate.astro';
import CalendarIcon from '../assets/icons/CalendarIcon.svg';

const { title, date, tags } = Astro.props;
const tagList = Array.isArray(tags) ? tags : [];
---

<div class="not-prose mb-5">
  <h2
    transition:name={`${title}-${date}`}
    class="text-accentColor! my-0! text-4xl font-medium wrap-break-word"
  >
    {title}
  </h2>
  <div class="w500:flex-col w500:items-start flex items-center justify-between">
    <div class="flex items-center">
      <CalendarIcon class="fill-lightModeText dark:fill-darkModeText mr-3 h-4 w-4" />
      <p class="my-17p5 text-sm leading-5 tracking-wide">
        <FormattedDate date={date} />
      </p>
    </div>
    {
      tagList.length > 0 && (
        <div class="flex items-center">
          {tagList.map((tag) => (
            <a
              class="text-lightModeText dark:text-darkModeText ml-5 text-sm font-medium underline first:ml-0"
              href={`/tags/${tag}`}
            >
              #{tag}
            </a>
          ))}
        </div>
      )
    }
  </div>
</div>
